Negocio/Service References/WsCesfam/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:getAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_getAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getControlStock_InputMessage">
    <wsdl:part name="parameters" element="tns:getControlStock" />
  </wsdl:message>
  <wsdl:message name="IService1_getControlStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getControlStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDetForm_InputMessage">
    <wsdl:part name="parameters" element="tns:getDetForm" />
  </wsdl:message>
  <wsdl:message name="IService1_getDetForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDetFormResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getFormMedicamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:getFormMedicamentos" />
  </wsdl:message>
  <wsdl:message name="IService1_getFormMedicamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFormMedicamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLaboratorio_InputMessage">
    <wsdl:part name="parameters" element="tns:getLaboratorio" />
  </wsdl:message>
  <wsdl:message name="IService1_getLaboratorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLaboratorioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMedicamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:getMedicamentos" />
  </wsdl:message>
  <wsdl:message name="IService1_getMedicamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMedicamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:getMedico" />
  </wsdl:message>
  <wsdl:message name="IService1_getMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMedicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAdmin" message="tns:IService1_getAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAdminResponse" message="tns:IService1_getAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getControlStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getControlStock" message="tns:IService1_getControlStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getControlStockResponse" message="tns:IService1_getControlStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDetForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDetForm" message="tns:IService1_getDetForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDetFormResponse" message="tns:IService1_getDetForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFormMedicamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFormMedicamentos" message="tns:IService1_getFormMedicamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFormMedicamentosResponse" message="tns:IService1_getFormMedicamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLaboratorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLaboratorio" message="tns:IService1_getLaboratorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLaboratorioResponse" message="tns:IService1_getLaboratorio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMedicamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMedicamentos" message="tns:IService1_getMedicamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMedicamentosResponse" message="tns:IService1_getMedicamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMedico" message="tns:IService1_getMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMedicoResponse" message="tns:IService1_getMedico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/getAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getControlStock">
      <soap:operation soapAction="http://tempuri.org/IService1/getControlStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetForm">
      <soap:operation soapAction="http://tempuri.org/IService1/getDetForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFormMedicamentos">
      <soap:operation soapAction="http://tempuri.org/IService1/getFormMedicamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLaboratorio">
      <soap:operation soapAction="http://tempuri.org/IService1/getLaboratorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMedicamentos">
      <soap:operation soapAction="http://tempuri.org/IService1/getMedicamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMedico">
      <soap:operation soapAction="http://tempuri.org/IService1/getMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>